* {
    box-sizing: border-box;
}
html {
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section+section {
    padding-top: 30px;
}

h2 {
    display: inline-block;
    border-radius: 50px;
    padding: 20px 50px;
    text-align: center;
    background-color: #e46404;
    min-height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
}


#instagram-container .warper {
    background-color: silver;
    position: relative;
    z-index: 999;
    min-height: 60px;
}

#map-container iframe {
    width: 100%;
    height: 60vh;
}


#canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0!important;
    margin: 0!important;
    background: #000;
    margin: 20px auto;
    display: block;
    position: fixed;
    z-index: -2;
}

@keyframes cover {
    0% { background-color: rgba(0,0,0,1) }
    60% { background-color: rgba(0,0,0,1) }
    100% { background-color: rgba(0,0,0,.8) }
} 
@keyframes caption1 {
    0% { color: transparent }
    100% { color: #e46404 }
} 
@keyframes caption2 {
    0% { 
        transform: translate(-45%);
        color: transparent;
    }
    70% { 
        transform: translate(-45%);
        color: transparent;
    }
    100% { 
        transform: translateX(-50%); 
        color: #fff;
    }
} 

#canvas_cover {
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    animation: cover 5s linear;
}


#menu {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    display:flex;
    flex-wrap:warp;
    justify-content: space-around;
    z-index: 999;
}
#menu>a {
    color: white;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}
#menu>a:nth-child(1),
#menu>a:nth-child(2) {
    border: 2px solid #e46404;
}
#menu>a:hover {
    color: #e46404;
}
#menu>a>span {
    color: #e46404;
}
#menu>a:hover>span {
    color: #fff;
}
#menu #menu_btn {
    display: none;
}


#start-section {
    height: 100vh;
    position: relative;
}
#start-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40vh;
    line-height: 35vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#start-section>div>div:first-child {
    color: #e46404;
    position: relative;
}
#start-section>div>div:first-child svg {
    position:absolute;
    left: 9vh;
    height: 5vh;
}
#start-section .hide-letter0 {
    color: transparent;
    position: absolute;
}

#start-section svg g.v1,
#start-section svg g.v2 {
    display: none;
}

#price-container,
#message-container {
    padding: 0 20px;
}

#price-table {
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    border-radius: 40px;
    border: 2px solid #e46404;
    width: 60%;
}
@media screen and (max-width: 1100px){
    #price-table { width: 100%; }
    #start-section>div {
        transform: rotateZ(-90deg);
        font-size: 40vw;
        line-height: 35vw;
    }
    #start-section>div svg {display: none;}
    #menu {
        flex-direction: column;
        background-color: rgba(0,0,0,.7)
    }
    #menu #menu_btn {
        display: block;
    }
    #menu a {
        text-align: center;
    }
    #menu:not(.show) a+a {
        display: none;
    }
    #menu.show #menu_btn {
        color:#e46404;
        border-color: #fff;
    }
    h2 {
        min-height: 60px;
        font-size: 20px;
        line-height: 60px;
    }
    /* section:not(#price-container) h2, */
    #instagram-container h2 {
        min-width: 400px;
        margin-bottom: 30px;
        /* max-width: 100%; */
    }
}

#price-table tr td {
    border-bottom: 2px dashed transparent;
}
#price-table tr td+td {
    text-align: right;
}
#price-table tr:hover td {
    border-bottom: 2px dashed #e46404;
    color: #e46404;
    font-weight: 900;
}


#instagram-container .embedsocial-hashtag {
    margin-top: -115px;
}


#message-container form {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
#message-container form>input, 
#message-container form>textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    color: #e46404;
    transition: all .2s;
}
#message-container form>textarea {
    min-height: 20vw;
    resize: vertical;
}

#message-container form>input:focus, 
#message-container form>textarea:focus {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-color: #e46404;
    background-color: rgba(0,0,0,.9);
    color: #fff;

}
#message-container form>input[type=submit]:hover {
    background-color: #e46404;
    color: #fff;
    border-color: #e46404;
}
#footer-container {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

#footer-container span {
    color: #e46404;
}
